<div class="main">
  <header-main></header-main>
  <div class="top">
      <input [(ngModel)]="sert" placeholder="Name"/>
  </div>

  <div class="myFon">

      <div class="body">
        <div class="elem" *ngFor="let table of tables | filter:'title':sert">

          <p class="pp">{{table?.title}}</p>
          <div class="addAa">
              <a class="add" (click)="addToBag(table)">add</a>
          </div>
          <img src="{{table?.img}}" alt="" class="img">
        </div>
      </div>

  </div>

</div>
